body{
    background: linear-gradient(236.85deg, #041832 27.30%, #3468A7 96.03%);
    font-family:'Courier New', Courier, monospace;
}

.container{
    background: #ECF4FF;
    color: #1C1C1C;
    margin: 64px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #0E1D2F;
    padding: 64px;
}

.perfil{
    display: flex;
    justify-content: space-between;
}

.altera-tema{
    display: flex;
}

.perfil-foto{
    border-radius: 469px;
    max-height: 160px
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo{
    margin-left: 16px;
    position: relative;
    top: 120px;
}

.titulo h1{
    font-weight: 700;
    font-size: 36px;
}

.titulo h2{
    font-size: 24px;
    font-weight: 400;
}

.tema button{
    border-radius: 80px;
    align-self: flex-end;
    font-size: 17px;
    font-weight: 400;
    padding: 8px 16px;
    background: #ECF4FF
}

.projetos{
    display: flex;
    flex-direction: column;
    background: linear-gradient(236.85deg, #041832 27.30%, #3468A7 96.03%);
    margin-top: 32px;
    padding: 32px;   
    border-radius: 25px;
    box-shadow: 2px 2px 4px rgba(16 16 16 0.42);
}

.projeto-titulo{
    font-weight: 700;
    font-size: 30px; 
}

.projetos-item{
    margin-left: 39px;
    font-weight: 400;
    font-size: 20px; 
    list-style-type: none; /* remove as bolinhas dos links */
    line-height: 40px; /* altura das linhas */
}

.projetos-item a{
    left: 400px;
    color: green;
    text-decoration: none;
    /* remove os sublinhados do hiper-link */
    color:  #1C1C1C;
    text-decoration: none;
    /* ajusta a cor da fonte */
}

a:hover{ /* efeito de troca de cores no momento que o cursor passa sob o link */
    color: #ffffff;
    text-decoration: none;
}

.mackenzie{
    max-width: 36px;
    max-height: 36px;
    position: relative;
    left: 450px;
    top: -510px;
}

.alura{
    max-width: 32px;
    max-height: 32px;
    position: relative;
    left: 493px;
    top: -549px;
}

.javascript{
    max-width: 32px;
    max-height: 32px;
    position: relative;
    left: 493px;
    top: -549px;
    mix-blend-mode: multiply;
}

.html{
    max-width: 43px;
    max-height: 43px;
    position: relative;
    left: 525px;
    top: -587px;
    mix-blend-mode: multiply;

}







